<div class="banner">
  <div class="banner-content">
    <h4>{{tagline}}</h4>
    <h1>{{title}}</h1>
    <p>{{blurb}}</p>
  </div>
</div>

<div class="content">
  <section class="callouts">
    <div class="callout">
      <img src="/images/document.svg" />
      <header>Callout One</header>
      <p>Quisque eu mauris mollis, placerat risus at, interdum quam. Duis hendrerit sapien at nunc auctor varius. 
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant 
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a luctus dolor.</p>
    </div>
    <div class="callout">
      <img src="/images/light-bulb.svg" />
      <header>Callout Two</header>
      <p>Quisque eu mauris mollis, placerat risus at, interdum quam. Duis hendrerit sapien at nunc auctor varius. 
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant 
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a luctus dolor.</p>
    </div>
    <div class="callout">
      <img src="/images/sharing.svg" />
      <header>Callout Three</header>
      <p>Quisque eu mauris mollis, placerat risus at, interdum quam. Duis hendrerit sapien at nunc auctor varius. 
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant 
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a luctus dolor.</p>
    </div>
    <div class="callout">
      <img src="/images/calendar.svg" />
      <header>Callout Four</header>
      <p>Quisque eu mauris mollis, placerat risus at, interdum quam. Duis hendrerit sapien at nunc auctor varius. 
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant 
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a luctus dolor.</p>
    </div>
  </section>
</div>